In [2]:
import requests
from bs4 import BeautifulSoup

In [7]:
r = requests.get('https://finance.naver.com/sise/')
r.text[:500]

"\n\n\n\n\n\n\n\n<script language='javascript'>\n\nfunction main_tab(tab_title, pst, tab_cnt)\n{\n\tfor(var i=0 ; i<tab_cnt ; i++)\n\t{\n\t\tif (i == pst)\n\t\t\tdocument.getElementById(tab_title+'_title_tab_'+i).style.display = '';\n\t\telse\n\t\t\tdocument.getElementById(tab_title+'_title_tab_'+i).style.display = 'none';\n\n\n\t\tif (i == pst)\n\t\t\tdocument.getElementById(tab_title+'_tab_'+i).style.display = '';\n\t\telse\n\t\t\tdocument.getElementById(tab_title+'_tab_'+i).style.display = 'none';\n\n\t}\n}\n\nfunction moveIndex(choiceTab) {\n\t"

In [8]:
soup = BeautifulSoup(r.text)

In [10]:
soup.find('span')

In [12]:
soup.find_all('span')[:10]

[<span>메인 메뉴로 바로가기</span>,
 <span>본문으로 바로가기</span>,
 <span class="blind">네이버</span>,
 <span class="blind">금융</span>,
 <span class="blind">자동완성 펼치기</span>,
 <span class="blind">검색</span>,
 <span class="tx">금융 홈</span>,
 <span class="tx">국내증시</span>,
 <span class="tx">해외증시</span>,
 <span class="tx">시장지표</span>]

In [45]:
soup.find('span', attrs={'id':'KOSPI_now', 'class':'num'})

In [21]:
span = soup.find(id='KOSPI_now')
span

In [22]:
span.text

'2,201.19'

In [23]:
span.text.replace(',', '')

'2201.19'

In [24]:
float(span.text.replace(',', ''))

2201.19

In [25]:
import requests
from bs4 import BeautifulSoup

r = requests.get('https://finance.naver.com/sise/')
soup = BeautifulSoup(r.text)
span = soup.find(id='KOSPI_now')
float(span.text.replace(',', ''))

2201.19

In [26]:
# 함수로 만들기 
def get_factor(id):
    r = requests.get('https://finance.naver.com/sise/')
    soup = BeautifulSoup(r.text)
    span = soup.find(id=id)
    return float(span.text.replace(',', ''))

In [27]:
get_factor('KOSPI_now')

2201.19

In [28]:
get_factor('KOSDAQ_now')

783.22

In [30]:
get_factor('KPI200_now')

291.57

In [32]:
get_factor('KOSPI_change') # \n17.43 +0.80%상승\n

ValueError: could not convert string to float: '\n17.43 +0.80%상승\n'

In [48]:
# 함수로 만들기 (추가 처리기능)
def get_factor(id):
    r = requests.get('https://finance.naver.com/sise/')
    soup = BeautifulSoup(r.text)
    span = soup.find(id=id)
    # span.text == \n17.43 +0.80%상승\n
    return float(span.text.replace(',','').split()[0])

In [49]:
get_factor('KOSPI_now')

2201.19

In [39]:
s = "\n17.43 +0.80%상승\n"
s.split()

['17.43', '+0.80%상승']

In [41]:
get_factor('KOSPI_change')

17.43

In [44]:
s = " 17.43  \n  "
s.split()

['17.43']

## 오픈API

In [59]:
import pandas as pd
import requests
import json

auth = '977d1fb9d98534e15ed4e9ab42453bbe'
url = f"http://finlife.fss.or.kr/finlifeapi/companySearch.json?auth={auth}&topFinGrpNo=060000&pageNo=1"

r = requests.get(url)
r.text[:1000]

'{"result":{"prdt_div":"F","total_count":"9","max_page_no":"1","now_page_no":"1","err_cd":"000","err_msg":"정상","baseList":[{"dcls_month":"202004","fin_co_no":"0010172","kor_co_nm":"브이아이자산운용 주식회사","dcls_chrg_man":"조희철","homp_url":"http://www.viamc.kr","cal_tel":"7272721"},{"dcls_month":"202004","fin_co_no":"0010179","kor_co_nm":"대신자산운용","dcls_chrg_man":"이현정팀장","homp_url":"asset.daishin.com","cal_tel":"027693251"},{"dcls_month":"202004","fin_co_no":"0010190","kor_co_nm":"유진자산운용","dcls_chrg_man":"이수민","homp_url":"fund.eugenefn.com","cal_tel":"0221293300"},{"dcls_month":"202004","fin_co_no":"0010203","kor_co_nm":"우리글로벌자산운용 주식회사","dcls_chrg_man":"김세진","homp_url":"www.wooriglobalam.com","cal_tel":"0220719900"},{"dcls_month":"202004","fin_co_no":"0010211","kor_co_nm":"유리자산운용","dcls_chrg_man":"리테일마케팅본부 홍희선 02-2168-7934","homp_url":"http://www.yurieasset.co.kr","cal_tel":"21687900"},{"dcls_month":"202004","fin_co_no":"0010215","kor_co_nm":"플러스자산운용","dcls_chrg_man":"상품전략팀 박정은 02-3787-2745","homp_'

In [64]:
import pandas as pd
import json

jo = json.loads(r.text)
df = pd.json_normalize(jo['result']['baseList'])
df

,dcls_month,fin_co_no,kor_co_nm,dcls_chrg_man,homp_url,cal_tel
0,202004,0010172,브이아이자산운용 주식회사,조희철,http://www.viamc.kr,7272721
1,202004,0010179,대신자산운용,이현정팀장,asset.daishin.com,027693251
2,202004,0010190,유진자산운용,이수민,fund.eugenefn.com,0221293300
3,202004,0010203,우리글로벌자산운용 주식회사,김세진,www.wooriglobalam.com,0220719900
4,202004,0010211,유리자산운용,리테일마케팅본부 홍희선 02-2168-7934,http://www.yurieasset.co.kr,21687900
5,202004,0010215,플러스자산운용,상품전략팀 박정은 02-3787-2745,http://www.plusasset.com,237872700
6,202004,0011910,현대인베스트먼트자산운용,고건화,www.hdfund.co.kr,0262767000
7,202004,0011997,비엔케이자산운용,김현재,www.bnkasset.co.kr,0269101100
8,202004,0012245,현대자산운용,이여진,www.hyundaiam.com,0220900500

In [65]:
df.to_excel('운용사목록.xls')

## pd.read_html()

In [71]:
url = 'https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=1'

df_list = pd.read_html(url,encoding='euc-kr')

In [72]:
len(df_list)

3

In [73]:
df_list[0]

     0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)

## 인코딩 
* EUC-KR 완성형 한글
* UTF-8 유니코드

In [76]:
df = df_list[1]
df.head(10)

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,54400.0,600.0,+1.12%,100.0,3247562.0,5969783.0,55.34,10041347.0,17.36,8.69,NaN
2,2.0,SK하이닉스,82900.0,200.0,+0.24%,5000.0,603514.0,728002.0,48.28,1560780.0,38.72,4.25,NaN
3,3.0,삼성바이오로직스,743000.0,11000.0,+1.50%,2500.0,491606.0,66165.0,10.23,144567.0,176.82,4.77,NaN
4,4.0,NAVER,276000.0,3000.0,+1.10%,100.0,453367.0,164263.0,55.11,920470.0,71.26,10.56,NaN
5,5.0,셀트리온,328000.0,13000.0,+4.13%,1000.0,442601.0,134939.0,21.16,1223675.0,130.47,11.19,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6.0,삼성전자우,47100.0,50.0,+0.11%,100.0,387580.0,822887.0,88.10,1267305.0,15.03,NaN,NaN

In [79]:
df.dropna(how='all').head()

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,54400.0,600.0,+1.12%,100.0,3247562.0,5969783.0,55.34,10041347.0,17.36,8.69,NaN
2,2.0,SK하이닉스,82900.0,200.0,+0.24%,5000.0,603514.0,728002.0,48.28,1560780.0,38.72,4.25,NaN
3,3.0,삼성바이오로직스,743000.0,11000.0,+1.50%,2500.0,491606.0,66165.0,10.23,144567.0,176.82,4.77,NaN
4,4.0,NAVER,276000.0,3000.0,+1.10%,100.0,453367.0,164263.0,55.11,920470.0,71.26,10.56,NaN
5,5.0,셀트리온,328000.0,13000.0,+4.13%,1000.0,442601.0,134939.0,21.16,1223675.0,130.47,11.19,NaN

In [83]:
import pandas as pd

df_merge = []

for i in range(1, 11):
    url = 'https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=' + str(i)
    df_list = pd.read_html(url,encoding='euc-kr')
    df = df_list[1]
    df = df.dropna(how='all')
    df_merge.append(df)
    
merged = pd.concat(df_merge)
merged

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,54400.0,600.0,+1.12%,100.0,3247562.0,5969783.0,55.34,10041347.0,17.36,8.69,NaN
2,2.0,SK하이닉스,82900.0,200.0,+0.24%,5000.0,603514.0,728002.0,48.28,1560780.0,38.72,4.25,NaN
3,3.0,삼성바이오로직스,743000.0,11000.0,+1.50%,2500.0,491606.0,66165.0,10.23,144567.0,176.82,4.77,NaN
4,4.0,NAVER,276000.0,3000.0,+1.10%,100.0,453367.0,164263.0,55.11,920470.0,71.26,10.56,NaN
5,5.0,셀트리온,328000.0,13000.0,+4.13%,1000.0,442601.0,134939.0,21.16,1223675.0,130.47,11.19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,496.0,KBSTAR 코스닥150선물레버리지,11190.0,315.0,+2.90%,0.0,1795.0,16040.0,0.06,96872.0,NaN,NaN,NaN
74,497.0,KPX홀딩스,42200.0,0.0,0.00%,5000.0,1783.0,4225.0,32.08,931.0,6.31,5.55,NaN
75,498.0,동아지질,15300.0,0.0,0.00%,500.0,1760.0,11500.0,4.85,78051.0,12.08,10.33,NaN
76,499.0,KINDEX 200TR,17390.0,85.0,+0.49%,0.0,1756.0,10100.0,0.00,551.0,NaN,NaN,NaN
77,500.0,SG세계물산,866.0,3.0,+0.35%,500.0,1753.0,202425.0,0.96,16979272.0,37.65,4.81,NaN

In [85]:
merged.to_excel('KOSPI_500.xls')

In [90]:
merged.query('5 < PER < 10')

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
18,12.0,현대모비스,220500.0,7500.0,+3.52%,5000.0,209596.0,95055.0,45.11,431543.0,9.76,7.28,NaN
3,53.0,현대글로비스,114000.0,3500.0,+3.17%,500.0,42750.0,37500.0,34.69,113987.0,7.68,11.25,NaN
9,56.0,현대건설,34950.0,400.0,-1.13%,5000.0,38919.0,111356.0,22.11,641786.0,8.95,6.30,NaN
19,63.0,DB손해보험,47950.0,1200.0,-2.44%,500.0,33949.0,70800.0,39.33,152276.0,7.42,6.92,NaN
25,66.0,삼성카드,28750.0,0.0,0.00%,5000.0,33309.0,115859.0,9.68,65244.0,9.91,5.04,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,471.0,부국증권,19250.0,250.0,+1.32%,5000.0,1996.0,10370.0,1.00,1493.0,8.55,5.80,NaN
36,474.0,KSS해운,8520.0,30.0,-0.35%,500.0,1975.0,23186.0,7.61,32569.0,8.44,8.79,NaN
49,481.0,현대상사,14650.0,50.0,-0.34%,5000.0,1938.0,13229.0,6.72,40501.0,9.79,5.07,NaN
53,485.0,대덕,6630.0,40.0,+0.61%,500.0,1896.0,28590.0,14.62,1262043.0,9.48,6.38,NaN
74,497.0,KPX홀딩스,42200.0,0.0,0.00%,5000.0,1783.0,4225.0,32.08,931.0,6.31,5.55,NaN